        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" >
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header t" >
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="accueil">
                        <!-- Logo icon -->
                        <b class="logo-icon" style=" margin: 0 auto;">
                            <!-- Dark Logo icon -->
                            <img src="../../assets/images/Fram.png" style="width: 150px; height: 120px;" alt="homepage" />
                        </b>
                       
                        <!--End Logo icon -->
                    </a>
                    <hr>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i  style="color: white;" class="ti-menu ti-close"></i></a>
                </div>
                <hr>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" >
                    <hr>
                   
                    <h5>Ma Sante application de suivie de tension et du diabete</h5>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <li>
                            <a class="profile-pic" href="#">
                                <img src="../../assets/images/admin.png" alt="user-img" width="36"
                                    class="img-circle"><span class="text-white font-medium">Mady Camara</span></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
