
<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper toot">
    <div class="container-fluid">

                <!-- ============================================================== -->
                <!-- PRODUCTS YEARLY SALES -->
                <!-- ============================================================== -->


                <div class="container">
                    <h1 class="ada"></h1>
                  </div>
                <!--  -->
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                    
                    </div>
                    <div class="col-sm">
                     
                    </div>
                    <div class="col-sm">
                      <!-- <p class="ada">  {{ Aujor | date: ' EEEE d  MMMM y '| uppercase}}</p> -->
                    </div>
                  </div>
                </div>
                    <!--  -->
                
                <!--  -->


                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Admin Profile</h3>
                                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                  <div class="col">
                                    <h4>Nom</h4>
                                    <h4>Adresse</h4>
                                    <h4>Telephone</h4>
                                    <h4>Email</h4>
                                    <h4>Age</h4>
                                  </div>
                                  <div class="col">
                                    
                                        <img src="../../assets/images/admin.png" alt="user-img"
                                            class="img-circle">
                                  </div>
                                </div>
                                <div class="bton">
                                    <button type="button" class="modifier btn  col-sm-6 form-group">Changer le mot de passe</button>
                                    </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
</div>
<!-- <app-footer></app-footer> -->
</div>